.a-game-settings {
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/background.gif");
    background-size: 100% 100%;
    user-select: none;
}

.a-game-settings-login {
    height: 45vh;
    width: 20vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   /* 修改锚点 */
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.a-game-settings-title {
    color: white;
    font-size: 3vh;
    text-align: center;
    /*height: 7vh;*/
    padding-top: 2vh;  /* 距顶部 */
    margin-bottom: 2vh;
}

.a-game-settings-username {
    display: block;
    height: 7vh;
}

.a-game-settings-password {
    display: block;
    height: 7vh;
}

.a-game-settings-submit {
    display: block;
    height: 7vh;
}

.a-game-settings-acwing {
    display: block;
    height: 7vh;
}

.a-game-settings-item {
    width: 100%;
    height: 100%;
}

.a-game-settings-item > input {
    width: 90%;
    line-height: 3vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   /* 修改锚点 */
}

.a-game-settings-item > button {
    width: 90%;
    line-height: 3vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    border-radius: 5px;
}

.a-game-settings-error-messages {
    color: red;
    font-size: 1vh;
    display: inline;
    float: left;
    padding-left: 1vw  /* 页面边距 */
}

.a-game-settings-option {
    color: white;
    font-size: 2vh;
    display: inline;
    float: right;
    padding-right: 1vw;
    cursor: pointer;  /* 鼠标变小手 */
}

.a-game-settings-acwing > img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: block;
}

.a-game-settings-acwing > div {
    color: white;
    font-size: 1.5vh;
    text-align: center;
    display: block;
}

.a-game-settings-register {
    height: 53vh;
    width: 20vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   /* 修改锚点 */
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.a-game-menu{
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/background.gif");
    background-size: 100% 100%;
    user-select: none;
}

.a-game-menu-field {
    width: 20vw;
    position: relative;
    top: 35%;
    left: 20%;
}

.a-game-menu-field-item{
    color: white;
    height: 6vh;
    width: 18vw;
    font-size: 4vh;
    font-style: italic;  /* 斜体 */

    text-align: center;
    background-color: rgba(39,21,28, 0.6);
    border-radius: 10px;
    letter-spacing: 0.5vw;
    cursor: pointer;
}

.a-game-menu-field-item:hover{
    transform: scale(1.2);
    transition: 100ms;
}

.a-game-playground {
    width: 100%;
    height: 100%;
    user-select: none;
    background-color: gray;  /* 边框外围背景颜色 */
}

.a-game-playground > canvas {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   /* 修改锚点 */
}