{% load static %}
<head>
    <link rel="stylesheet" href="https://app3749.acapp.acwing.com.cn/static/css/jquery-ui.min.css">
    <script src="https://app3749.acapp.acwing.com.cn/static/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <link rel="icon" href="https://app3749.acapp.acwing.com.cn/static/image/settings/acapp.png">
</head>

<body style="margin: 0">
    <div id="a_game_123456"></div>
    <script type="module">
        import {AGame} from "{% static 'js/dist/game.js' %}";
        $(document).ready(function(){
            let a_game = new AGame("a_game_123456");
        });
    </script>
</body>

